@import "../../node_modules/bootstrap/scss/bootstrap.scss";

body {
    padding-top: 100px;
    background: whitesmoke;
}
.navigation {
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    height: 70px;
    background-color: #222042;
    z-index: 100;
    padding: 0px 40px;
    .nav-item {
        top: calc(50% - 21px);
        position: relative;
    }
}

.grid-item {
    width: 200px;
    border: 1px solid white;
    background: #f8f8f8;
    height: 200px;
    margin: 10px;
    text-align: center;
    position: relative;
    float: left;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    .item-photo {
        width: 150px;
        height: 150px;
        margin: 0 auto;
        background-size: cover;
        background-repeat: no-repeat;
    }
}

#aromaModal {
    .badge {
        margin: 2px 3px;
        cursor: pointer;
    }
    .modal-dialog {
        max-width: 700px;
    }
    .modal-body {
        overflow: auto;
        min-height: 200px;
    }
    .table>thead>tr>th, .table>tbody>tr>th, .table>tfoot>tr>th, .table>thead>tr>td, .table>tbody>tr>td, .table>tfoot>tr>td{
        padding: 5px;
        font-size: 9px;
    }
    .fa-play {
        cursor: pointer;
    }
    #record-sample-btn {
        margin: 0px 8px;
        position: relative;
    }
    .modal-header {
        border-bottom: none;
    }
    #new-recording {
        margin-bottom: 10px;
        transition: height .5s;
        height: 0;
        overflow: hidden;
        border-bottom: 1px solid #dee2e6;
    }
    #bluetooth-connect-btn {
        background-image: url(../images/bluetooth.png);
        height: 30px;
        width: 40px;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
        border-top: 5px solid #ffc107;
        border-bottom: 5px solid #ffc107;

        &:hover {
            border-top: 5px solid #e0a800;
            border-bottom: 5px solid #e0a800;
        }
    }
    #start-record-btn {
        color: #d9d9d9;
    }
    .dropdown-menu-sm {
        padding: 0.5rem 0;
        margin: 0.271rem 0 0;
        min-width: 7rem;
        .dropdown-item {
            font-size: 14px;
        }
    }
}

.grid {
    margin: 0 auto;
}


#newAromaModal {
    #aroma-img-upload-btn {
        width: 100%;
        padding: 20px 10px;
    }
    .image-preview {
        width: 100%;
        height: 150px;
        background-color: #f8f9fa;
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin: 10px 0px;
        border-radius: 2px;
    }
}


#fourier {
    font: 13px/13px "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: auto;
    position: relative;
    width: 100%;
    
    .plot {
        width: 100%;
    }
    form {
        position: absolute;
        bottom: 10px;
        right: 10px;
    }
    
    .hide {
        display: none;
    }
    .coeff .dot {
        fill: hsla(207, 63%, 27%, 0.2);
        display: none;
    }
    .coeff.last .dot {
        fill: hsla(207, 63%, 27%, 1.0);
        display: none;
    }
    .coeff .circle {
        fill: none;
        stroke: hsl(0, 0%, 70%);
        display: none;
    }
    .coeff.first .circle {
        fill: none;
        stroke: hsl(0, 0%, 30%);
        display: none;
    }
    .coeff.last .circle {
        display: none;
    }
    .graph {
        fill: none;
        stroke: steelblue;
        stroke-width: 3px;
    }
    .trace {
        fill: none;
        stroke: steelblue;
        display: none;
    }
    .proj {
        fill: none;
        stroke: #000;
        display: none;
    }
    .axis {
        stroke: hsl(0, 0%, 70%);
    }
}